ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a, .model{
    display: block;
    padding: 8px;
  }
  li .serial-models {display: block;}

.model-content { display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}

.model-content a{color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 500;}

.model-content a:hover {color: grey;}

.serial-models:hover .model-content {
      display: block;}

p.serial-models{
    margin-inline-start: 20px;
    color: inherit;
    opacity: .6;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0rem;
}

a.menu {
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight:500;}