.fa-bars{
    font-size: 35px!important;
}
.menu-icon{
    font-size: unset!important;
}
.helper-text{
    color: red!important;
    text-align: right;
}

.active{
    background-color: transparent!important;
}

/* .menu-icon{
margin-top:5px!important;
} */
.fa-bars{
    font-size: 35px!important;  
}

#contact::after{
content: '';
display: block;
bottom: 0;
border-bottom: 4px solid #fff!important;
width: 100%!important;
}
@media(min-width: 993px){
#nav-large{
    height: auto!important;
}
/* .menu-icon{
    margin-top:2px!important;
    } */
}

@media(max-width: 9920px){
    .menu-icon{
        font-size: unset!important;
        margin-top: 3px!important;
}}
    
@media(max-width: 600px){
.menu-icon{
    font-size: unset!important;
    margin-top: 5px!important;
}}