.main{width: 100%; background: #eee;}
/*General Menu Styling*/
.mainnav{margin: 0 auto}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown{position: absolute; 
    left:363px;
    width: 250px;
    top: 38px; 
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;}
.mainnav li{
    float: left;
    padding: 5px;
    background: maroon;
    border-left: 1px dotted #fff;}
.mainnav li:first-child{border: none;}
.mainnav li a{ 
    display: block;
    padding: 2px 20px;
    color: #fff;
    font-family: arial;}
.mainnav li:hover{
    background: #fff;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;}
.mainnav li:hover a{
    color: maroon;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;}
/*First Level*/
.subs {left: 0;
    position: relative;
    top: 5px;
    width: 170px;
    border-left: none !important; 
    border-bottom: 1px dotted #fff !important;}
.subs:last-child{border: none !important;}
.hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown{
    opacity: 1;
    visibility: visible; 
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;}
.mainnav li:hover ul a,.mainnav li:hover ul li ul li a{color: white;}
.mainnav li ul li:hover,.mainnav li ul li ul li:hover{
    background: #fff;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a{
    color: maroon;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;}
/*Second Level*/
.hassubs .hassubs .dropdown .subs{
    left: 25px;
    position: relative;
    width: 200px;
    top: 0px;}
.hassubs .hassubs .dropdown{
    position: absolute;
    width: 250px;
    left: 118px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;}